html {
  background: url(https://media.timeout.com/images/100644443/image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.weather {
  width:80vw;
  font-family: 'Cabin', sans-serif;
  color: white;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #999;
  opacity: 0.9;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

#weather-text {
  margin-top:5px;
  width: 50%;
  float:left;
}

.news {
  width:94vw;
  font-family: 'Cabin', sans-serif;
  text-align: left;
  margin: 0 auto;
}

.article {
  color: white;
  background-color: #999;
  opacity: 0.9;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

a {
  color: inherit;
}

/* media queries */
@media (min-width: 600px) {
  .weather {
    width: 20vw;
    float: left;
    margin-top: 10vh;
    margin-left: 13vw;
  }

  .news {
    width: 40vw;
    margin-top:8vh;
    margin-left:5vw;
    float:left;
  }

}
