html {
  background: url(https://media.timeout.com/images/100644443/image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.weather {
  position: absolute;
  top: 10%;
  left: 15%;
  background-color: #999;
  opacity: 0.6;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.news {
  position: absolute;
  bottom: 10%;
  right: 10%;
  text-align: center;
  max-width: 25rem;
}

.article {
  background-color: #999;
  opacity: 0.6;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}
